In [1]:
from compute_signals import *
from process_signal_data import *
from model_classifier import *
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler
import random
from scipy.interpolate import CubicSpline
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.lines import Line2D
import matplotlib.patches as mpatches
from scipy.signal import welch
import os

- lf is the frequency band for the Low frequency from the paper
- hf is the frequency band for the High frequency from the paper
- percent_outliers is the fraction of values to remove from the lower and upper values of the window

- We will load the the dataframe that is provided and then subsequently add the feature columns to it

In [2]:
data = pd.read_csv('userData.csv')
# data.head()

In [3]:
lf =  [0.04, 0.15]
hf = [0.15, 0.4]
percent_outliers = 0.1
plot_flag = 1
save_fig = 1
kernel_type = 'poly'
window_size =  90
offset_window = 10
sample_points = 5

- **convert_rr_total** will convert the **rr** column to arrays and save it as a column in the dataframe
- **compute_sampling_rate** will compute the sampling rate for each sample and then save it as a column

In [4]:
convert_rr_total(data)
compute_sampling_rate(data)
data.head(15)

,user,age,gender,section,duration,arousal,valence,samples,rr,rr_array,fs
0,20230608_183012_3_02001743,42,0,Rest_Start,185,3,3,215,"[783, 790, 795, 769, 768, 754, 762, 766, 774, ...","[783.0, 790.0, 795.0, 769.0, 768.0, 754.0, 762...",1.162162
1,20230608_183012_3_02001743,42,0,Reading,185,4,2,207,"[739, 749, 724, 692, 701, 724, 757, 769, 777, ...","[739.0, 749.0, 724.0, 692.0, 701.0, 724.0, 757...",1.118919
2,20230608_183012_3_02001743,42,0,Breath_1,130,5,3,155,"[750, 751, 735, 741, 749, 760, 752, 761, 774, ...","[750.0, 751.0, 735.0, 741.0, 749.0, 760.0, 752...",1.192308
3,20230608_183012_3_02001743,42,0,Stroop,190,3,0,220,"[753, 765, 778, 757, 768, 774, 775, 773, 777, ...","[753.0, 765.0, 778.0, 757.0, 768.0, 774.0, 775...",1.157895
4,20230608_183012_3_02001743,42,0,ReactionTime,227,5,3,241,"[698, 741, 791, 814, 813, 827, 849, 870, 820, ...","[698.0, 741.0, 791.0, 814.0, 813.0, 827.0, 849...",1.061674
5,20230608_183012_3_02001743,42,0,Video+,179,5,3,177,"[780, 786, 785, 775, 770, 762, 749, 762, 769, ...","[780.0, 786.0, 785.0, 775.0, 770.0, 762.0, 749...",0.988827
6,20230608_183012_3_02001743,42,0,Breath_2,131,6,4,131,"[778, 773, 767, 761, 741, 749, 747, 758, 773, ...","[778.0, 773.0, 767.0, 761.0, 741.0, 749.0, 747...",1.000000
7,20230608_183012_3_02001743,42,0,Math,190,3,2,187,"[768, 761, 738, 723, 723, 712, 727, 724, 731, ...","[768.0, 761.0, 738.0, 723.0, 723.0, 712.0, 727...",0.984211
8,20230608_183012_3_02001743,42,0,ImageStroop,294,6,4,297,"[706, 706, 700, 716, 717, 743, 741, 737, 748, ...","[706.0, 706.0, 700.0, 716.0, 717.0, 743.0, 741...",1.010204
9,20230608_183012_3_02001743,42,0,Video-,162,3,1,187,"[720, 715, 732, 723, 708, 717, 719, 728, 703, ...","[720.0, 715.0, 732.0, 723.0, 708.0, 717.0, 719...",1.154321
10,20230608_183012_3_02001743,42,0,Breath_3,130,3,2,85,"[720, 709, 679, 690, 714, 723, 720, 751, 742, ...","[720.0, 709.0, 679.0, 690.0, 714.0, 723.0, 720...",0.653846
11,20230608_183012_3_02001743,42,0,Exercise,65,3,1,9,"[799, 749, 807, 815, 803, 763, 813, 1566, 712]","[799.0, 749.0, 807.0, 815.0, 803.0, 763.0, 813...",0.138462
12,20230608_183012_3_02001743,42,0,Breath_4,130,3,2,113,"[805, 803, 796, 771, 783, 765, 776, 792, 736, ...","[805.0, 803.0, 796.0, 771.0, 783.0, 765.0, 776...",0.869231
13,20230608_183012_3_02001743,42,0,Rest_End,185,3,0,191,"[808, 782, 766, 776, 740, 752, 728, 766, 812, ...","[808.0, 782.0, 766.0, 776.0, 740.0, 752.0, 728...",1.032432
14,20230608_210755_4_02001743,13,0,Rest_Start,185,0,4,217,"[750, 649, 690, 697, 682, 655, 581, 639, 608, ...","[750.0, 649.0, 690.0, 697.0, 682.0, 655.0, 581...",1.172973

In [5]:
users_pass = find_users(data)
users_unique =  data.user.unique()
len(users_unique)

40

In [6]:
dict_new =  {'user':users_unique,'section':None}
df_breath1 = pd.DataFrame.from_dict(dict_new)
df_breath2 = pd.DataFrame.from_dict(dict_new)
df_breath3 = pd.DataFrame.from_dict(dict_new)
df_breath4 = pd.DataFrame.from_dict(dict_new)

df_mental = pd.DataFrame.from_dict(dict_new)
df_rest_start = pd.DataFrame.from_dict(dict_new)
df_rest_end = pd.DataFrame.from_dict(dict_new)
df_stroop = pd.DataFrame.from_dict(dict_new)
df_imagestroop = pd.DataFrame.from_dict(dict_new)
df_math = pd.DataFrame.from_dict(dict_new)
df_video_plus = pd.DataFrame.from_dict(dict_new)
df_video_minus = pd.DataFrame.from_dict(dict_new)
df_breath_total = pd.DataFrame.from_dict(dict_new)
df_rest_total  = pd.DataFrame.from_dict(dict_new)
df_reaction_time  = pd.DataFrame.from_dict(dict_new)
df_reading  = pd.DataFrame.from_dict(dict_new)

df_exercise = pd.DataFrame.from_dict(dict_new)
# a step to make empty dataframes for each user and each section

In [7]:
df_video_minus.head()

                         user section
0  20230608_183012_3_02001743    None
1  20230608_210755_4_02001743    None
2  20230609_180159_5_02001743    None
3  20230609_230133_6_02001743    None
4  20230613_173426_9_02001743    None

- **catx_vals** is the extracted signal containg each category
- Each dataframe then has a column called **signal** that has each extracted signal

In [8]:
stroop_vals = construct_signal_general(data,users_unique,['Stroop'])
math_vals = construct_signal_general(data,users_unique,['Math'])
video_minus_vals = construct_signal_general(data,users_unique,['Video-'])
video_plus_vals = construct_signal_general(data,users_unique,['Video+'])
imagestroop_vals = construct_signal_general(data,users_unique,['ImageStroop'])
breath1_vals = construct_signal_general(data,users_unique,['Breath_1'])
breath2_vals = construct_signal_general(data,users_unique,['Breath_2'])
breath3_vals = construct_signal_general(data,users_unique,['Breath_3'])
breath4_vals = construct_signal_general(data,users_unique,['Breath_4'])
breath_total_val = construct_signal_general(data,users_unique,['Breath_1','Breath_2','Breath_3', 'Breath_4'])
rest_start_vals = construct_signal_general(data,users_unique,['Rest_Start'])
rest_end_vals = construct_signal_general(data,users_unique,['Rest_End'])
rest_total_vals = construct_signal_general(data,users_unique,['Rest_Start','Rest_End'])
reactiontime_vals = construct_signal_general(data,users_unique,['ReactionTime'])
reading_vals = construct_signal_general(data,users_unique,['Reading'])


df_breath1['signal'] = breath1_vals
df_breath2['signal'] = breath2_vals
df_breath3['signal'] = breath3_vals
df_breath4['signal'] = breath4_vals
df_breath_total['signal'] = breath_total_val

df_rest_start['signal'] = rest_start_vals
df_rest_end['signal'] = rest_end_vals
df_rest_total['signal'] = rest_total_vals
df_stroop['signal'] = stroop_vals
df_imagestroop['signal'] = imagestroop_vals
df_math['signal'] = math_vals
df_video_plus['signal'] = video_plus_vals
df_video_minus['signal'] = video_minus_vals
df_reaction_time['signal'] = reactiontime_vals
df_reading['signal'] = reading_vals


# i feel like this is being done to make separate dataframes for each activity which is lost to me at the moment - so lets see

In [9]:
df_video_minus.head()

,user,section,signal
0,20230608_183012_3_02001743,None,"[720.0, 715.0, 732.0, 723.0, 708.0, 717.0, 719..."
1,20230608_210755_4_02001743,None,"[752.0, 727.0, 662.0, 642.0, 712.0, 765.0, 815..."
2,20230609_180159_5_02001743,None,"[747.0, 775.0, 800.0, 751.0, 706.0, 729.0, 739..."
3,20230609_230133_6_02001743,None,"[731.0, 735.0, 758.0, 736.0, 747.0, 747.0, 760..."
4,20230613_173426_9_02001743,None,"[668.0, 668.0, 660.0, 651.0, 651.0, 643.0, 640..."

In [10]:
stroop_fs,stroop_samples, stroop_duration = construct_fs_general(data,users_unique,['Stroop'])
math_fs,math_samples, math_duration = construct_fs_general(data,users_unique,['Math'])
videoplus_fs,videoplus_samples, videoplus_duration = construct_fs_general(data,users_unique,['Video+'])
videominus_fs,videominus_samples, videominus_duration = construct_fs_general(data,users_unique,['Video-'])
imagestroop_fs,imagestroop_samples, imagestroop_duration = construct_fs_general(data,users_unique,['ImageStroop'])
breath1_fs,breath1_samples, breath1_duration = construct_fs_general(data,users_unique,['Breath_1'])
breath2_fs,breath2_samples, breath2_duration = construct_fs_general(data,users_unique,['Breath_2'])
breath3_fs,breath3_samples, breath3_duration = construct_fs_general(data,users_unique,['Breath_3'])
breath4_fs,breath4_samples, breath4_duration = construct_fs_general(data,users_unique,['Breath_4'])
breathtotal_fs,breathtotal_samples, breathtotal_duration = construct_fs_general(data,users_unique, ['Breath_1','Breath_2','Breath_3', 'Breath_4'])

rest_start_fs,rest_start_samples, rest_start_duration = construct_fs_general(data,users_unique,['Rest_Start'])
rest_end_fs,rest_end_samples, rest_end_duration= construct_fs_general(data,users_unique,['Rest_End'])
rest_total_fs,rest_total_samples, rest_total_duration= construct_fs_general(data, users_unique,['Rest_Start','Rest_End'])
reaction_fs,reaction_samples, reaction_duration= construct_fs_general(data, users_unique,['ReactionTime'])
reading_fs,reading_samples, reading_duration= construct_fs_general(data, users_unique,['Reading'])

In [11]:
print(videominus_fs)
print(type(videominus_fs[0]))

[array([1.15432099]), array([1.09876543]), array([1.02453988]), array([1.17901235]), array([1.36196319]), array([0.67484663]), array([1.0308642]), array([1.08588957]), array([1.2345679]), array([0.96319018]), array([0.93865031]), array([1.06748466]), array([0.87730061]), array([0.99386503]), array([0.86503067]), array([1.1595092]), array([0.69135802]), array([0.85185185]), array([0.95705521]), array([0.58282209]), array([0.83950617]), array([0.99386503]), array([0.87730061]), array([0.94444444]), array([1.2208589]), array([1.34969325]), array([0.84662577]), array([1.01234568]), array([0.81595092]), array([1.09259259]), array([1.11042945]), array([1.03680982]), array([0.73006135]), array([1.42331288]), array([0.86419753]), array([0.96932515]), array([0.99382716]), array([0.95092025]), array([0.88271605]), array([1.09259259])]
<class 'numpy.ndarray'>

In [12]:
print(videominus_samples)

[array([187]), array([178]), array([167]), array([191]), array([222]), array([110]), array([167]), array([177]), array([200]), array([157]), array([153]), array([174]), array([143]), array([162]), array([141]), array([189]), array([112]), array([138]), array([156]), array([95]), array([136]), array([162]), array([143]), array([153]), array([199]), array([220]), array([138]), array([164]), array([133]), array([177]), array([181]), array([169]), array([119]), array([232]), array([140]), array([158]), array([161]), array([155]), array([143]), array([177])]

In [13]:
df_breath1['fs'] = np.array(breath1_fs)
df_breath2['fs'] = np.array(breath2_fs)
df_breath3['fs'] = np.array(breath3_fs)
df_breath4['fs'] = np.array(breath4_fs)
df_breath_total['fs'] = np.array(breathtotal_fs)


df_rest_start['fs'] = np.array(rest_start_fs)
df_rest_end['fs'] = np.array(rest_end_fs)
df_rest_total['fs'] = np.array(rest_total_fs)

df_stroop['fs'] = np.array(stroop_fs)
df_imagestroop['fs'] = np.array(imagestroop_fs)
df_math['fs'] = np.array(math_fs)
df_video_plus['fs'] = np.array(videoplus_fs)
df_video_minus['fs'] = np.array(videominus_fs)
df_reaction_time['fs'] = np.array(reaction_fs)
df_reading['fs'] = np.array(reading_fs)

In [14]:
df_video_minus.head()

,user,section,signal,fs
0,20230608_183012_3_02001743,None,"[720.0, 715.0, 732.0, 723.0, 708.0, 717.0, 719...",1.154321
1,20230608_210755_4_02001743,None,"[752.0, 727.0, 662.0, 642.0, 712.0, 765.0, 815...",1.098765
2,20230609_180159_5_02001743,None,"[747.0, 775.0, 800.0, 751.0, 706.0, 729.0, 739...",1.024540
3,20230609_230133_6_02001743,None,"[731.0, 735.0, 758.0, 736.0, 747.0, 747.0, 760...",1.179012
4,20230613_173426_9_02001743,None,"[668.0, 668.0, 660.0, 651.0, 651.0, 643.0, 640...",1.361963

In [15]:
df_breath1['samples'] = np.array(breath1_samples)
df_breath2['samples'] = np.array(breath2_samples)
df_breath3['samples'] = np.array(breath3_samples)
df_breath4['samples'] = np.array(breath4_samples)
df_breath_total['samples'] = np.array(breathtotal_samples)


df_rest_start['samples'] = np.array(rest_start_samples)
df_rest_end['samples'] = np.array(rest_end_samples)
df_rest_total['samples'] = np.array(rest_total_samples)

df_stroop['samples'] = np.array(stroop_samples)
df_imagestroop['samples'] = np.array(imagestroop_samples)
df_math['samples'] = np.array(math_samples)
df_video_plus['samples'] = np.array(videoplus_samples)
df_video_minus['samples'] = np.array(videominus_samples)
df_reaction_time['samples'] = np.array(reaction_samples)
df_reading['samples'] = np.array(reading_samples)

In [16]:
df_video_minus.head()

,user,section,signal,fs,samples
0,20230608_183012_3_02001743,None,"[720.0, 715.0, 732.0, 723.0, 708.0, 717.0, 719...",1.154321,187
1,20230608_210755_4_02001743,None,"[752.0, 727.0, 662.0, 642.0, 712.0, 765.0, 815...",1.098765,178
2,20230609_180159_5_02001743,None,"[747.0, 775.0, 800.0, 751.0, 706.0, 729.0, 739...",1.024540,167
3,20230609_230133_6_02001743,None,"[731.0, 735.0, 758.0, 736.0, 747.0, 747.0, 760...",1.179012,191
4,20230613_173426_9_02001743,None,"[668.0, 668.0, 660.0, 651.0, 651.0, 643.0, 640...",1.361963,222

In [17]:
df_breath1['duration'] = np.array(breath1_duration)
df_breath2['duration'] = np.array(breath2_duration)
df_breath3['duration'] = np.array(breath3_duration)
df_breath4['duration'] = np.array(breath4_duration)
df_breath_total['duration'] = np.array(breathtotal_duration)

df_rest_start['duration'] = np.array(rest_start_duration)
df_rest_end['duration'] = np.array(rest_end_duration)
df_rest_total['duration'] = np.array(rest_total_duration)

df_stroop['duration'] = np.array(stroop_duration)
df_imagestroop['duration'] = np.array(imagestroop_duration)
df_math['duration'] = np.array(math_duration)
df_video_plus['duration'] = np.array(videoplus_duration)
df_video_minus['duration'] = np.array(videominus_duration)
df_reaction_time['duration'] = np.array(reaction_duration)
df_reading['duration'] = np.array(reading_duration)

In [18]:
df_video_minus.head()

,user,section,signal,fs,samples,duration
0,20230608_183012_3_02001743,None,"[720.0, 715.0, 732.0, 723.0, 708.0, 717.0, 719...",1.154321,187,162
1,20230608_210755_4_02001743,None,"[752.0, 727.0, 662.0, 642.0, 712.0, 765.0, 815...",1.098765,178,162
2,20230609_180159_5_02001743,None,"[747.0, 775.0, 800.0, 751.0, 706.0, 729.0, 739...",1.024540,167,163
3,20230609_230133_6_02001743,None,"[731.0, 735.0, 758.0, 736.0, 747.0, 747.0, 760...",1.179012,191,162
4,20230613_173426_9_02001743,None,"[668.0, 668.0, 660.0, 651.0, 651.0, 643.0, 640...",1.361963,222,163

In [19]:
# combing all the dataframes into one big dataframe from this point onwards i will be writing my own code and not using the one provided originally
# List of your dataframes and their corresponding activities
dataframes = {
    "breath_total": df_breath_total,
    "rest_total": df_rest_total,
    "stroop": df_stroop,
    "imagestroop": df_imagestroop,
    "math": df_math,
    "video_plus": df_video_plus,
    "video_minus": df_video_minus,
    "reaction_time": df_reaction_time,
    "reading": df_reading
}

# Adding the 'activity' column to each dataframe
for activity, df in dataframes.items():
    df['activity'] = activity

# Concatenating all dataframes
main_df = pd.concat(dataframes.values(), ignore_index=True)
main_df.head()

#drop column section in the main dataframe
main_df = main_df.drop(columns=['section'])
main_df.head()

,user,signal,fs,samples,duration,activity
0,20230608_183012_3_02001743,"[750.0, 751.0, 735.0, 741.0, 749.0, 760.0, 752...",0.928983,484,521,breath_total
1,20230608_210755_4_02001743,"[712.0, 716.0, 729.0, 681.0, 668.0, 672.0, 628...",1.126923,586,520,breath_total
2,20230609_180159_5_02001743,"[631.0, 638.0, 655.0, 731.0, 681.0, 676.0, 715...",1.177820,616,523,breath_total
3,20230609_230133_6_02001743,"[719.0, 719.0, 720.0, 731.0, 701.0, 711.0, 706...",1.024952,534,521,breath_total
4,20230613_173426_9_02001743,"[629.0, 631.0, 627.0, 634.0, 626.0, 630.0, 625...",1.262452,659,522,breath_total

In [20]:
type(main_df['signal'][0])

numpy.ndarray

In [21]:
#main_df.to_csv('main_df.csv', index=False)

In [22]:
# computing hf and lf ussing fft and not the butter_band pass filter used in the paper
def compute_hrv_metrics(rr_intervals, fs):
    # Calculate power spectral density using Welch's method
    f, pxx = welch(rr_intervals, fs=fs, nperseg=len(rr_intervals))

    # Frequency bands for LF and HF components
    lf_band = (0.04, 0.15)
    hf_band = (0.15, 0.4)

    # Calculate power in LF and HF bands
    lf_power = np.trapz(pxx[(f >= lf_band[0]) & (f <= lf_band[1])], f[(f >= lf_band[0]) & (f <= lf_band[1])])
    hf_power = np.trapz(pxx[(f >= hf_band[0]) & (f <= hf_band[1])], f[(f >= hf_band[0]) & (f <= hf_band[1])])

    # Calculate LF/HF ratio
    lf_hf_ratio = lf_power / hf_power

    return lf_power, hf_power, lf_hf_ratio

In [23]:
# Applying the function to each row in the dataframe
main_df[['LF', 'HF', 'P1']] = main_df.apply(lambda row: compute_hrv_metrics(row['signal'], row['fs']), axis=1, result_type="expand")

main_df.head()

,user,signal,fs,samples,duration,activity,LF,HF,P1
0,20230608_183012_3_02001743,"[750.0, 751.0, 735.0, 741.0, 749.0, 760.0, 752...",0.928983,484,521,breath_total,2185.398227,2047.964368,1.067108
1,20230608_210755_4_02001743,"[712.0, 716.0, 729.0, 681.0, 668.0, 672.0, 628...",1.126923,586,520,breath_total,10056.495024,11164.520027,0.900755
2,20230609_180159_5_02001743,"[631.0, 638.0, 655.0, 731.0, 681.0, 676.0, 715...",1.177820,616,523,breath_total,5502.568428,3665.613792,1.501132
3,20230609_230133_6_02001743,"[719.0, 719.0, 720.0, 731.0, 701.0, 711.0, 706...",1.024952,534,521,breath_total,3986.652908,7193.582593,0.554196
4,20230613_173426_9_02001743,"[629.0, 631.0, 627.0, 634.0, 626.0, 630.0, 625...",1.262452,659,522,breath_total,1502.651379,4648.295244,0.323269